body {
    font-family:sans-serif;
    padding:1em;
    background-color: #dfccff
}

footer {
  margin-top: 50px;
}

#hands_container {
  float: left;
  width:50%;
  border: 5px solid black;
}

.button_container {
  position: fixed;
  top: 28%;
  left: 70%;  
}

.wrapper:after {
  clear:both;
  display: block;
  content: "";
}

#right_container {
  float:left;
}

#score_container {
  margin:15px;
}
#player_hand, #dealer_hand {
    overflow:hidden;
    position:relative;
    background: #287B59;
    color:#69D1A7;
    padding:.5em;
    font-size:1.1em;
    height:200px;
    width:500px;
    margin:15px;
}
#dealer_hand {
    background: #666666;
    color:#69D1A7;
}
.card {
  background:#fff;
  border: 3px solid black;
  font-size: 35px;
  float: left;
  width:  100px;
  height: 150px;
  padding:10px;
  margin-right:-25px;
}
.card:first-child {margin-left:0;}

.Spades, .Clubs {color:black}
.Diamonds, .Hearts {color:red}

#deal {
    border-radius:4px;
    border:1px solid #3a096a;
    display:block;
    color:#ffffff;
    font-size:25px;
    font-weight:bold;
    padding:7px 13px;
    margin:auto;
}
#deal:hover {
    background-color:#3a096a;
}

#hit_me {
    background-color:#10a469;
    border-radius:4px;
    border:1px solid #287b58;
    display:block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:7px 13px;
    margin:auto;
}
#hit_me:hover {
    background-color:#056b42;
}
#hit_me:active {
    position:relative;
    top:1px;
}
#stand {
    background-color:#f89350;
    border-radius:4px;
    border:1px solid #b5693a;
    display:block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:7px 13px;
    margin:auto;
}
#stand:hover {
    background-color:#f16e17;
}
#stand:active {
    position:relative;
    top:1px;
}

#hit_me, #stand {display:none;}
#wins {color:#056B42;}
#losses {color:#F16D17;}
